<html>
<head>
  <title>feature based app</title>
</head>
<body>
  <h3>web endpoints</h3>
  <ul>
    <li><a href="/tags/">Tags</a></li>
    <li><a href="/tags/show">Tags "show"</a></li>
  </ul>
  <h3>api endpoints</h3>
  <ul>
    <li>{{ HOST  }}api/v1/tags</li>
    <pre>
    [
      {
        "name": "one"
      },
      {
        "name": "two"
      }
    ]
    </pre>
    <p>
      IF these tags are in your db
    </p>
  </ul>
</body>